.addSubtQuestionVisual{
  display: flex;
  justify-content: space-around;
  
}

.addSubtDemoQuestion{
  width: 40vw;
  margin-right: 20px;
  /* background-color: #d5e8f8; */
  /* background-color: #e9e4fd; */
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

}

.QuestionText{
  vertical-align: middle;
}

.container{
  background-color: aliceblue;
  margin: 20px;
}

.title{
  text-align: center;
}
.subtitle{
  text-align: center;

}

.visual{
  margin: 20px;
}

.FracDemoVisuals{
  display: flex;
  justify-content: space-between;
}

#matrixScalarDemoVisual{
  display: flex;
  justify-content: center;
}

#matrixMatrixDemoVisual{
  display: flex;
  justify-content: center;
}

body{
  background-color: aliceblue;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  /* font-weight: 400; */
}

.header{
  padding: 5px;
  background-color: #e8dbfd;
  box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}