.FractionVisual{
    text-align: center;
    background-color: white;
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
}

.catimg{
    max-width: 4vw;
}

.cats{
    position: relative;
    display: inline-block;
    max-width: 12vw;
    /* vertical-align: top; */
    /* padding: 5px;
    margin-left: 2px; */
}

.result-cats{
    display: inline-block;
    visibility: hidden;
    max-width: 12vw;
    

}

.animate{
    animation: wiggle 3s linear;
}

.r-sign{
    display: none;
}

.button{
    cursor: pointer;
    border: 0ch;
    background-color: inherit;
}

.next-button{
    /* cursor: pointer;
    /* border: 0ch; */
    /* background-color: white; */
    /* width: fit-content; */
    /* height: fit-content; */
    /* align-self: center; */
    /* margin-top: 20px; */ 
    margin: 1rem;
    margin-top: 20px;
}

.addSubtResultSign{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AddSubtVisual{
    display: flex;
    justify-content: space-between;
    max-width: 40vw;
}

.AddSubtDesc{
  /* position: absolute; */
    justify-content: center;
    margin-bottom: 2px;
    display: flex;
    visibility: hidden;
    color: rgb(63, 63, 63);
    /* animation-duration: 2s;
    animation-name: slidein;
    margin-left: 31%; */

}

.AddSubtSign{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AddSubtExplanation{
    display: block;
    justify-content: space-between;
    width: 40vw;
    text-align: center;
    color: rgb(63, 63, 63);
}

:root {
    --matrix-rows: 1;
    --matrix-cols: 1;
    
  }
  
.matrix {
display: grid;
grid-gap: 1em;
grid-template-rows: repeat(var(--matrix-rows), 1fr);
grid-template-columns: repeat(var(--matrix-cols), 1fr);
/* max-width: 20vw; */
}
  
.matrix-element {
padding: 1em;
border: 1px solid #ddd;
/* text-align: center; */
display: flex;
flex-direction: column;
justify-content: space-evenly;
/* max-width: 34px;
max-height: 34px; */
background-color: white;
}

.matrix-text{
  display: block;
}

.MatrixScalar{
    display: inline-block;
}

.ScalarMultSign{
    display: inline-block;
}

.MatrixDiv{
    display: inline-block;
}

.MatrixScalarVisual{
    text-align: center;
    /* width: 40vw; */
    display: flex;
    justify-content: space-between;
}

.MainMatContainer{
  /* width: 40vw; */
  text-align: center;
  background-color: white;
  padding: 15px;
  border: 0.5px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 26%);

}

.MatrixMatrixVisual{
  text-align: center;
  display: flex;
  justify-content: space-between;
  /* max-width: 60vw; */

}

.MainMatrixHeader{
    width: 40vw;
    text-align: center;
    display: block;
    justify-content: space-between;
    visibility: hidden;
}


/* Keyframes */
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

  /* @keyframes slidein {
    from {
      margin-left: 2%;
      /* width: 300%; */
      /* width: 100%;
    }
   */
    /* to {
      margin-left: 31%;
      width: 50%;
    }
  } */

  .AddSubtVisualComponent{
    background-color: white;
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
    max-width: 40vw;
  }

  .button-text{
    padding: 5px;
    border: 0.4px solid grey;
    border-radius: 2px;
    box-shadow: 0 0.4px 0.8px rgb(0 0 0 / 26%);
  }
  .button-text:hover {background-color: #e7e7e7;}


  .matrix-form-input{
    max-width: 100%;
    text-align: center;
    border-style: none;
    font-size: medium;

  }


  /* division visual */
  .division-visual-component{
    /* display: flex; */
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
    text-align: center;
    margin: 1rem;
    border: 0.5px solid black;

  }

  .division-visual-header{
    padding-top: 1rem;

  }

  .division-visual-remainder{
    padding-top: 1rem;

  }


  .division-visual-block{
    /* background-color: white; */
    display: flex;
    margin: 3px;
    width: 40px;
    height: 40px;
    background-image: url("candy.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;

  }

  .division-visual-bin{
    background-color: rgb(255, 255, 205);
    display: flex;
    flex-wrap: wrap;
    /* min-width: 150px; */
    width: 40%;
    min-height: 70px;
    margin: 3px;

  }

  .division-visual-bin-group{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;

  }

  .division-visual-count{
    /* width: 150px; */
    flex-grow: 1;
    width: 0;
    padding-bottom: 10px;
  }

  .division-visual-count-group{
    display: flex;
    justify-content: center;
  }

  .division-visual-block-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    min-height: 50px;
    
  }

  .hide{
    display: none;
  }

  .drag-over {
    border: solid 2px red;
}

.division-success{
  border: solid 1px greenyellow;
}

/* Point Plot Visual */

.point-plot-component{
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
  margin: 1rem;
  border: 0.5px solid black;

}

.point-plot-point-section{
  padding-top: 1rem;

}

.point-plot-plot-section{
  padding-top: 1rem;
  width: 85%;
  text-align: center;

}

.point-plot-plot-canvas{
  /* background-color: aquamarine; */
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.26);
  /* padding-top: 1rem; */
  margin-top: 0.5rem;
  border: 0.5px solid black;
  width: 300px;
  height: 300px;

}

.point-plot-plot-description{
  text-align: center;

}

.point-plot-pick-points{
  /* padding-top: 1rem; */
  text-align: center;

}

.point-plot-point-span{
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0.5rem;
}

.point-plot-point-input{
  /* margin-left: 0.5rem;
  margin-right: 0.5rem; */
  margin: 0.5rem;
  width: 18%;
}

.point-plot-points-form{
  text-align: center;
}

.point-plot-submit-btn{
  margin: 0.5rem;
}

/* multiplication visual*/
.multiplication-visual-component{
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
  margin: 1rem;
  border: 0.5px solid black;
  padding-left: 1rem;
  /* padding-bottom: 1rem; */
  padding-right: 1rem;


}

.multiplication-visual-element{
  display: flex;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
  width: 40px;
  height: 40px;
  background-image: url("fun-frog.png");
  /* background-position: center;  */
  background-repeat: no-repeat; 
  background-size: cover;
}

.multiplication-visual-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3px;
}

.multiplication-visual-groups{
  display: flex;
}

.multiplication-visual-visuals{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.multiplication-visual-equals{
  width: fit-content;
  height: fit-content;
}

.multiplication-visuals-result{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3px;
  visibility: hidden;
}

.multiplication-result-header{
  visibility: hidden;
  margin: 0px;
}

.visible_results{
  visibility: visible;
  
}

.multiplication-visual-group-header{
  margin: 0px;
  font-weight: 400;
  color: slategray;
}

.multiplication-visual-description{
  font-weight: 200;
}

