.FractionVisual{
    text-align: center;
    background-color: white;
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
}

.catimg{
    max-width: 4vw;
}

.cats{
    position: relative;
    display: inline-block;
    max-width: 12vw;
    /* vertical-align: top; */
    /* padding: 5px;
    margin-left: 2px; */
}

.result-cats{
    display: inline-block;
    visibility: hidden;
    max-width: 12vw;
    

}

.animate{
    animation: wiggle 3s linear;
}

.r-sign{
    display: none;
}

.button{
    cursor: pointer;
    border: 0ch;
    background-color: inherit;
}

.next-button{
    cursor: pointer;
    /* border: 0ch; */
    background-color: white;
    width: fit-content;
    height: fit-content;
    align-self: center;
    margin-top: 20px;
}

.addSubtResultSign{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AddSubtVisual{
    display: flex;
    justify-content: space-between;
    max-width: 40vw;
}

.AddSubtDesc{
  /* position: absolute; */
    justify-content: center;
    margin-bottom: 2px;
    display: flex;
    visibility: hidden;
    color: rgb(63, 63, 63);
    /* animation-duration: 2s;
    animation-name: slidein;
    margin-left: 31%; */

}

.AddSubtSign{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AddSubtExplanation{
    display: block;
    justify-content: space-between;
    width: 40vw;
    text-align: center;
    color: rgb(63, 63, 63);
}

:root {
    --matrix-rows: 1;
    --matrix-cols: 1;
    
  }
  
.matrix {
display: grid;
grid-gap: 1em;
grid-template-rows: repeat(var(--matrix-rows), 1fr);
grid-template-columns: repeat(var(--matrix-cols), 1fr);
/* max-width: 20vw; */
}
  
.matrix-element {
padding: 1em;
border: 1px solid #ddd;
/* text-align: center; */
display: flex;
flex-direction: column;
justify-content: space-evenly;
/* max-width: 34px;
max-height: 34px; */
background-color: white;
}

.matrix-text{
  display: block;
}

.MatrixScalar{
    display: inline-block;
}

.ScalarMultSign{
    display: inline-block;
}

.MatrixDiv{
    display: inline-block;
}

.MatrixScalarVisual{
    text-align: center;
    /* width: 40vw; */
    display: flex;
    justify-content: space-between;
}

.MainMatContainer{
  /* width: 40vw; */
  text-align: center;
  background-color: white;
  padding: 15px;
  border: 0.5px solid black;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 26%);

}

.MatrixMatrixVisual{
  text-align: center;
  display: flex;
  justify-content: space-between;
  /* max-width: 60vw; */

}

.MainMatrixHeader{
    width: 40vw;
    text-align: center;
    display: block;
    justify-content: space-between;
    visibility: hidden;
}


/* Keyframes */
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

  .AddSubtVisualComponent{
    background-color: white;
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
    max-width: 40vw;
  }

  .button-text{
    padding: 5px;
    border: 0.4px solid grey;
    border-radius: 2px;
    box-shadow: 0 0.4px 0.8px rgb(0 0 0 / 26%);
  }
  .button-text:hover {background-color: #e7e7e7;}